@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html { 
        height:100%;
    }
    body, div#__nuxt, div#__nuxt > div{ 
        min-height:100%;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

@layer utilities{
    .small-caps{
        font-variant: small-caps;
    }
}